@reference "../../app/globals.css";

.siteNav {
  @apply bg-light px-2 py-4;
}

.siteNav nav {
  @apply mx-auto max-w-6xl flex justify-between items-center;
}

.siteNav h1 {
  @apply font-bold text-xl;
}

svg.logo {
  display: inline-block;
}

.logoLink {
  display: inline-block;
  border: 2px solid #ff0076;
  border-radius: 100px;
  padding: 0.5rem 1.25rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: -0.38px;
}

.ctaButton {
  background-color: #6246ea;
  color: #fffffe;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  display: inline-block;
}